.right{    
    float: right;
    width: 27%;
    text-align: right;
    background-color:rgb(99, 124, 116);  
    height: 800px;
    border-radius: 20px;
    padding-right: 30px;
}
.left{
    float: left;
    width: 70%;
    text-align: center;
    background-color: rgb(99, 124, 116);
    height: 800px;
    border-radius: 20px;
    padding-right: 10px;
}
.leftpanelhead{
    margin: 60px auto;
    background-color: thistle;
    width: 40%;
    float: center;
   padding: 20px;
   border-radius: 10px;
}
.pageadmin{
    position: relative;
   top:100px; 
}
.listuser{
    background-color: seashell;
    margin: 50px;
}
