.right{
    border: solid 2px red;
    background-color: sandybrown;
    float: right;
    width: 30%;
    text-align: right;
    
}
.left{
    float: left;
    border: solid 2px red;
    width: 69%;
    text-align: center;
}
.leftpanelhead{
    border: solid 1px wheat ;
    margin: 0 auto;
    background-color: thistle;
    width: 40%;
    float: center;
}