@font-face {font-family:vazir;src:local('vazir'),url('../fonts/vazir.ttf') format('truetype');}
html, body{
    font-size: 20px;
    font-family: vazir;
    margin: 0;padding: 0;background: #f5f5f5;
    direction: rtl;
}
ul{list-style-type: none;}
a{text-decoration: none;}
.mylogo{width:100px;height:100px;padding:5px; background: url('../image/logo19284.png') no-repeat ;background-size: 100px 100px;}
.App{width: 1200px; margin: 0px auto;background: white;position: relative;box-shadow: 0px 2px 8px 0 rgba(0,0,0,0.15);height: 890px;}
.logo{padding: 5px;}
.menudiv{background-color: #5f5f5f;}
.menudiv ul{margin-top:0px;}
.menudiv ul li{display: inline-block;}
.menudiv ul li a{ padding:10px 20px ;color: white;display: inline-block}
.menudiv ul li a:hover{background-color: black;}

/* .lbadmin{float: left;} */
